h1,h2,h3,h4,h5,h6{
    font-family: 'Rubik', sans-serif;
}
body, p, span, strong, a{
    font-family: 'Roboto', sans-serif;
}
img{
    max-width: 100%;
}
/* Navber CSS */
.container-fluid{
    max-width: 1270px;
}

ul.primairy-menu{}
ul.primairy-menu li{
    position: relative;
}
ul.primairy-menu li a{
    text-decoration: none;
    color: #111;
    padding: 10px 10px;
    font-size: 18px;
    font-weight: 500;
}
ul.primairy-menu li:hover > a{
    color: #e73a3e;
}
ul.primairy-menu li ul{
    position: absolute;
    top: 200%;
    left: 0;
    list-style: none;
    width: 250px;
    box-shadow: 2px 2px 20px rgba(0, 0, 0, .2);
    padding-left: 0;
    background-color: #fff;

    opacity: 0;
    visibility: hidden;
    transition: all .5s ease-in-out;

}
ul.primairy-menu li ul li{
    padding: 7px 20px
}
ul.primairy-menu li:hover ul{
    opacity: 1;
    visibility: visible;
    top: 140%;
}
ul.primairy-menu li ul li a{}
ul.primairy-menu li ul li ul{
    position: absolute;
    top: 0% !important;
    left: 250px !important;
    width: 240px;

    opacity: 0;
    visibility: hidden;
    transition: all .5s ease-in-out;
}
ul.primairy-menu li ul li ul li{
    padding: 10px 0;
}
ul.primairy-menu li ul li:hover ul{
    opacity: 1;
    visibility: visible;
    top: 0%;
}

.search-icon{
    width: 60px;
    font-size: 22px;
    text-align: center;
    margin-right: 1px;
    border-right: 1px solid #DDD;
}
.header-call-info{
    width: 220px;
}
.header-call-info .call-logo{
    font-size: 29px;
    color: #e73a3e;
    margin-left: 20px;
}
.header-call-info .call-info span{
    color: #6c757d;
}
.header-call-info .call-info a{
    text-decoration: none;
    color: #111;
    font-weight: bold;
}
.header-button a{
    background-color: #e73a3e !important;
    border: #e73a3e;
    padding: 10px 25px;
    font-weight: 400;
    position: relative;

    z-index: 1;
}
.header-button a::after{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 0;
    background: #000;
    border-color: #111;
    border-radius: 5px;
    z-index: -1;
    transition: .3s;
}
.header-button a:hover::after{
    width: 100%;
}
/*slider-image-sections css*/

.slider-image-sections{
    background-image: url(./images/main-banner2.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.slider-section-wrap{
    height: 90vh;
    display: flex;
    align-items: center;
    position: relative;
}
.slider-title-section span{
    color: #e73a3e;
    font-size: 18px;
    
}
.slider-title-section h2{
    font-size: 65PX;
    font-weight: 500;
    margin-top: 15PX;
}
.slider-title-section P{
    font-size: 18px;
    color: #6c757d;
    margin-top: 15px;
}
.slider-social{
    position: absolute;
    left: 0;
    bottom: 0;
}
.slider-social ul{
    list-style: none;
}
.slider-social ul li span{
    margin-right: 50px;
    font-size: 16px;
}
.slider-social ul li span::after{
    content: "";
    height: 1px;
    width: 40px;
    background-color: #111;
    position: absolute;
    top: 30%;
    right: 170px;

}
.slider-social ul a{
    text-decoration: none;
    padding: 0 13px;
    color: #111;
    font-size: 18px;
    transition: all .4s ease-in;
}
.slider-social ul a:hover{
    color:  #e73a3e;
}
/*clain-logo-sections*/

.claint-logo-sections{
    border-bottom: 1px solid #DDD;
}
.clain-logo ul{
    list-style: none;
    justify-content: space-between;
    padding-left: 0;
}
/*About company sections*/

.about-company-image{
    position: relative;
}
.company-logo-text{
    position: absolute;
    right: 40px;
    bottom: 10px;
    background-image: url(./images/shape.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    height: 200px;
    width: 200px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}
.logo-title span{
    color: #e73a3e;
    font-size: 50px;
    font-weight: bold;
}
.logo-title p{
    font-weight: bold;
}

.finix-text span{
    color: #e73a3e;
}
.finix-text h3{
    font-size: 40px;
    font-weight: 400;
    margin-top: 20px;
}
.finix-text p{
    font-size: 17px;
    color: #6c757d;
    margin-top: 20px; 
    line-height: 1.7em;
}
.finix-text strong{
    color: #6c757d;
    font-weight: 500;
    margin-top: 30px;
}
.finix-text ul{
    list-style: none;
    margin-top: 20px;
    padding-left: 0;
}
.finix-text ul li{
    padding: 5px 0;
}
.finix-text ul li::before{
    content: "\f00c";
    font-family: 'Font Awesome 5 Free';
    font-weight: 600;
    margin-right: 8px;
    color: #e73a3e;
}
/*people-choose-us-sections css*/

.choose-us-image{
    position: relative;
}
.choose-play-icon a{
    position: absolute;
    right: 40%;
    bottom: 70px;
    font-size: 45px;
    color: #e73a3e;
    height: 70px;
    width: 70px;
    background-color: #fff;
    text-align: center;
    line-height: 70px;
    border-radius: 50%;
}
.choose-play-icon a:hover{
    background-color: #e73a3e;
    color: #fff;
}
.choose-play-icon a::before{
    content: "";
    height: 70px;
    width: 70px;
    border-radius: 100%;
    background-color: #e73a3e;
     position: absolute;
    right: 0;
    bottom: 0;
    animation: playicon 1.2s ease-out infinite;
}
@keyframes playicon{
    0%, 30%{
        transform: scale(0);
        opacity: 0;
    }
    70%{
        transform: scale(1);
        opacity: 0.7;
    }
    100%{
        transform: scale(2);
        opacity: 0.1;
    }
}

.people-choose-card{
    padding: 0 20px;
    margin-bottom: 20px;
    position: relative;
    overflow: hidden;
    transition: all .9s ease;
}
.people-choose-card:hover{
    transform: translateY(-10px);
}
.people-choose-card::before{
    content: "";
    position: absolute;
    top: -65%;
    left: 0;
    right: 0;
    margin: auto;
    width: 90%;
    height: 90%;
    background-color: rgb(255, 226, 226);
    border-radius: 50%;
}
.card-icon span strong{
    font-size: 35px;
}
.people-choose-card .card-icon{
    height: 90px;
    width: 90px;
    background-color: #fff;
    line-height: 90px;
    border-radius: 50%;
    font-size: 55px;
    color: #e73a3e;
    margin-left: 30%;
    font-weight: bold;
    position: relative;
}
.people-choose-card:hover .card-icon{
    background-color: #e73a3e;
    color: #fff;
}
.mtop{
    margin-top: -25px;
}

/*Funding-circles-sections css*/
.Funding-circles-sections .finix-text p{
    width: 50%;
    margin: auto;
}
.business-steps ul{
    list-style: none;
    position: relative;
    padding: 0 20px;
}
.business-steps ul::before{
    content: "";
    position: absolute;
    top: 15px;
    left: 18px;
    width: 1px;
    height: calc(100% - 100px);
    background-color: #e73a3e;
}
.business-steps ul li{
    padding: 5px 40px;
    position: relative;

}
.business-steps ul li::before{
    content: attr(data-counter);
    position: absolute;
    top: 6px;
    left: -20px;
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    border-radius: 50%;
    background-color: #fafafa;
    border: 1px solid #e73a3e;
}
.business-steps ul li strong{
    font-size: 22px;
    font-weight: 500;
    display: inline-block;
}
.business-steps ul li p{
    margin-top: 8px;
    color: #606060;
}

.your-rate{
    background-color: #fadada;
    margin-top: 30PX;
    padding: 0 30PX;
}
.your-rate .finix-text span{
    color: #606060;
}
.business-forms .form-group{
    margin-bottom: 25px;
}
.business-forms .form-group label{
    margin-bottom: 5px;
    display: inline-block;
}
.business-forms .form-group input{
    border: none;
    border-radius: 0;
    padding: 10px 10px;
}
.business-forms .form-group select{
    height: 50px;
}
/*solution-section css*/

.solution-sections{
    padding: 60px 0;
    color: #fff;
    background-color: #e73a3e;
}
.solution-text{
    padding: 0 30px;
}
.solution-text h2{
    font-size: 38px;
    font-weight: 400;
}
.solution-text{
    padding: 0 20px;
    border-right: 1px solid #DDD;
}
.business-call-section span{
    float: left;
    font-size: 40px;
    margin-right: 25px;
    width: 80px;
    height: 80px;
    text-align: center;
    line-height: 80px;
    border-radius: 50%;
    background-color: #FFF;
    color: #e73a3e;
}
/* Our company Values section*/

.company-values-icon span{
    font-size: 35px;
    color: #e73a3e;
    margin-right: 10px;
}
.company-values-step strong{
    font-size: 24px;
    font-weight: 500;
    display: inline-block;
}
.company-values-step p{
    margin-top: 5px;
    color: #606060;
}
.company-values-step ul{
    list-style: none;
    padding-left: 0;
}
/*best professional services*/

.Professional-section{
    padding-bottom: 15px;
    border-bottom: 2px solid #DDD;
    position: relative;
}
.Professional-section::before{
    content: "\f060";
    font-weight: 900;
    font-family: "Font Awesome 5 Free";
    position: absolute;
    top: 87%;
    left: 0;
    width: 40px;
    height: 40px;
    line-height: 40px;
    border-radius: 50%;
    background-color: rgb(255, 255, 255, .5);
    border: 1px solid #606060;
}
.Professional-section::after{
    content: "\f061";
    font-weight: 900;
    font-family: "Font Awesome 5 Free";
    position: absolute;
    top: 87%;
    right: 0;
    width: 40px;
    height: 40px;
    line-height: 40px;
    border-radius: 50%;
    background-color: rgb(255, 255, 255, .5);
    border: 1px solid #606060;
}
.Professional-section li{
    flex: 1 1 auto;
}
.Professional-section li a.active span{
    color: #e73a3e;
}
.Professional-section li a span{
    width: 80px;
    height: 80px;
    line-height: 80px;
    border-radius: 50%;
    margin: auto;
    font-size: 35px;
    background-color: #fff;
    color: #606060;
}
.Professional-section li a strong{
    font-size: 22px;
    font-weight: 500;
    color: #111;
}
.tab-content h3{
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 20px;
}
.tab-content p{
    color: #6c757d;
}
.tab-content ul{
    padding-left: 0;
    list-style: none;
}
.tab-content ul li{
    margin-top: 10px;
    position: relative;
    margin-left: 20px;
}
.tab-content ul li::before{
    content: "";
    position: absolute;
    top: 6px;
    left: -20px;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #e73a3e;
}
/*What our clients say section*/
.clients-say-content p{
    font-size: 28px;
    font-weight: 400;
}
.clients-say-content h3{
    font-size: 22px;
    color: #e73a3e;
    margin-bottom: 0;
}
.clients-image{
    position: relative;
}
.clients-image::before{
    content: "\f10e";
    font-family: 'Font Awesome 5 Free';
    font-weight: 700;
    font-size: 40px;
    position: absolute;
    left: 100px;
    bottom: 65px;
    width: 80px;
    height: 80px;
    line-height: 80px;
    text-align: center;
    border-radius: 50%;
    background-color: #fff;
    color: #e73a3e;
    transition: .4s;
}
.clients-image:hover::before {
    background-color: #e73a3e;
    color: #fff;
}
/*Global leadership team section*/
.leadership-image{
    position: relative;
}
.social-contact ul{
    list-style: none;
    padding-left: 0;
    margin-bottom: 0;
    text-align: center;
}
.social-contact ul li{
    display: inline-block;

    transition: .5s ease-in-out;
    transform: translateY(45px);
    opacity: 0;
    visibility: hidden;
}
.leadership-image:hover .social-contact ul li{
    transform: translateY(0);
    opacity: 1;
    visibility: visible;
}
.leadership-image .social-contact ul li:nth-child(1){
    transition-delay: .2s;
}
.leadership-image .social-contact ul li:nth-child(2){
    transition-delay: .3s;
}
.leadership-image .social-contact ul li:nth-child(3){
    transition-delay: .4s;
}
.leadership-image .social-contact ul li:nth-child(4){
    transition-delay: .5s;
}
.social-contact ul li a{
    display: block;
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    border-radius: 50%;
    font-size: 20px;
    background-color: #fff;
    color: #111;
   transition: .3s ease;
}
.social-contact ul li a:hover{
    background-color: #e73a3e;
    color: #fff;
}
.social-contact ul{
    position: absolute;
    left: 0;
    right: 0;
    bottom: 20px;
    margin: auto;
}
.leadership-content h3{
    color: #e73a3e;
    margin-top: 20px;
    font-size: 23px;
    font-weight: 500;
    margin-bottom: 0;
}
.leadership-content strong{
    font-weight: 400;
    color: #333333;
}
/*Success story posts section css*/
.success-story-content span{
    color: #e73a3e;
    font-size: 19px;
}
.success-story-content h3{
    margin-top: 10px;
    margin-bottom: 15px;
}
.success-story-content h3 a{
    text-decoration: none;
    color: #111;
    margin-top: 20px;
    transition: .3s;
}
.success-story-content h3 a:hover{
    color: #e73a3e;
}
.success-story-content strong a{
    text-decoration: none;
    color: #111;
    transition: .3s;
}
.story-posts-image:hover strong a{
    letter-spacing: .1em;
    color: #e73a3e;
}
.success-story-content:hover{
    color: #e73a3e;
}
/*footer sections by css*/

.footer-sections{
    border-bottom: 1px solid #6c757d;
}
.finix-content .f-logo img{
    max-width: 100%;
    margin-bottom: 20px;
}
.finix-content .f-logo p{
    color: #fff;
}
.finix-content .social-logo ul{
    list-style: none;
    padding-left: 0;
}
.finix-content .social-logo ul li{
    display: inline-block;
}
.finix-content .social-logo ul li strong{
    color: #fff;
    margin-right: 15px;
}
.finix-content .social-logo ul li a{
    display: inline-block;
    color: #fff;
    padding: 0 8px;
    transition: .3s ease;
}
.finix-content .social-logo ul li a:hover{
    color: #e73a3e;
}
.heading-content h2{
    color: #FFF;
    font-size: 22px;
    font-weight: 500;
    padding-bottom: 15px;
    border-bottom: 1px solid #6c757d;
}
.link-list ul{
    list-style: none;
    padding-left: 0;
    margin-top: 25px;
}
.link-list ul li{
    display: block;
}
.link-list ul li a{
    display: block;
    text-decoration: none;
    margin-bottom: 20px;
    color: #fff;
    transition: .4s ease;
}
.link-list ul li a:hover{
    color: #e73a3e;
    letter-spacing: .1em;
}


.link-list-c ul{
    list-style: none;
    padding-left: 0;
    margin-top: 25px;
}
.link-list-c ul li{
    display: inline-block;
    margin-bottom: 20px;
    position: relative;
    margin-left: 40px;
}
.link-list-c ul li strong{
    color: #fff;
    font-weight: 400;
}
.link-list-c ul li a{
    display: block;
    text-decoration: none;
    margin-bottom: 0px;
    color: #fff;
    transition: .4s ease;
}
.link-list-c ul li a:hover{
    color: #e73a3e;
}
.link-list-c ul li:nth-child(1)::before{
    content: "\f3c5";
    position: absolute;
    top: 0;
    left: -30px;
    font-weight: 700;
    font-size: 25px;
    font-family: 'Font Awesome 5 Free';
    color: #fff;
}
.link-list-c ul li:nth-child(2)::before{
    content: "\f0e0";
    position: absolute;
    top: -5px;
    left: -30px;
    font-weight: 700;
    font-size: 25px;
    font-family: 'Font Awesome 5 Free';
    color: #fff;
}
.link-list-c ul li:nth-child(3)::before{
    content: "\f2a0";
    position: absolute;
    top: -5px;
    left: -30px;
    font-weight: 700;
    font-size: 25px;
    font-family: 'Font Awesome 5 Free';
    color: #fff;
}
/*end-footer-sections by css*/

.footer-end strong{
    color: gray;
    font-weight: 400;
    margin-bottom: 0;
}
.footer-end strong a{
    color: white;
    text-decoration: none;
    font-size: 20px;
    transition: .4s;
}
.footer-end strong a:hover{
    color: #e73a3e;
}
.footer-end strong a span{
    color: crimson;
    font-size: 23px;
    font-weight: 600;
    transition: .4s;
}
.footer-end strong a:hover span{
    color: #FFF;
}
/*About.html-slider css */

.About-slider{
    background-image: url(./images/bg.jpg);
    background-position: center 35%;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 180px 0;
}